html
    head
        meta(charset="UTF-8")
        title 
        link(rel="shortcut icon", href="images/favicon_256x256.png", type="image/png")
        link(href="vendor.css", rel="stylesheet")
        link(href="main.css", rel="stylesheet")

    body(ng-controller="MainCtrl" ng-app="app" ng-cloak)

        graph
        div.buttons-panel
            buttons-add-persone.buttons-panel-button
            br
            buttons-add-persone.buttons-panel-button
            br
            buttons-remove-persone.buttons-panel-button

        script(src="main.js")

